[Unit]
Description=Flink JobManager
After=network.target

[Service]
Type=forking
User=flink
ExecStart=/opt/flink/bin/jobmanager.sh start
ExecStop=/opt/flink/bin/jobmanager.sh stop

[Install]
WantedBy=multi-user.target
