KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ORCP_TOPIC_RAW=raw-events
ORCP_TOPIC_STANDARD=standard-events
ORCP_TOPIC_RESULT=result-events
ORCP_TOPIC_DLT=dead-letter-events
ORCP_KAFKA_GROUP=orcp-default-group
